body {
  background-color: rgb(134, 134, 255);
}
img {
  opacity: 0.8;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.chart {
  background-color: #fff;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /* padding: 1rem; */
}
.chart1 {
  width: 90%;
  height: 90%;
  padding: 1rem;
  background: url("./frame.png") center;
  background-repeat: no-repeat;
  background-size: 300px 300px;
  z-index: 100;
}
.frame1 {
  position: absolute;
  top: 270px;
  left: 70px;
  z-index: 1;
}
.frame2 {
  position: absolute;
  top: 270px;
  left: 540px;
  z-index: 1;
}
.frame3 {
  position: absolute;
  top: 270px;
  right: 70px;
  z-index: 1;
}
